<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/ShowAllOrder.jsp</url-pattern>
        <url-pattern>/WishList.jsp</url-pattern>
        <url-pattern>/final.jsp</url-pattern>
        <url-pattern>/profile.jsp</url-pattern>
        <url-pattern>/wishlist</url-pattern>
        <url-pattern>/shop</url-pattern>
        <url-pattern>/buy</url-pattern>
        <url-pattern>/show</url-pattern>
        <url-pattern>/process</url-pattern>
        <url-pattern>/pay</url-pattern>
        <url-pattern>/final</url-pattern>
        <url-pattern>/showallorder</url-pattern>
        <url-pattern>/process</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AddProductToCategory.jsp</url-pattern>
        <url-pattern>/Admin.jsp</url-pattern>
        <url-pattern>/ManagerAdminAccounts.jsp</url-pattern>
        <url-pattern>/statistic.jsp</url-pattern>
        <url-pattern>/adminmanager</url-pattern>
        <url-pattern>/deleteaccount</url-pattern>
        <url-pattern>/manageraccounts</url-pattern>
        <url-pattern>/statistic</url-pattern>
        <url-pattern>/AddProductToCategory.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryHome</servlet-name>
        <servlet-class>controller.CategoryHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManager</servlet-name>
        <servlet-class>controller.AdminManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductForCategory</servlet-name>
        <servlet-class>controller.AddProductForCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>controller.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bestselling</servlet-name>
        <servlet-class>controller.bestselling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishList</servlet-name>
        <servlet-class>controller.WishList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>controller.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>controller.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>controller.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>controller.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalServlet</servlet-name>
        <servlet-class>controller.FinalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllOrdersServlet</servlet-name>
        <servlet-class>controller.ShowAllOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccounts</servlet-name>
        <servlet-class>controller.ManagerAccounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>controller.Statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tempt</servlet-name>
        <servlet-class>controller.tempt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryHome</servlet-name>
        <url-pattern>/categoryhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManager</servlet-name>
        <url-pattern>/adminmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductForCategory</servlet-name>
        <url-pattern>/addproductforcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bestselling</servlet-name>
        <url-pattern>/bestselling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishList</servlet-name>
        <url-pattern>/wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalServlet</servlet-name>
        <url-pattern>/final</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllOrdersServlet</servlet-name>
        <url-pattern>/showallorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccounts</servlet-name>
        <url-pattern>/manageraccounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tempt</servlet-name>
        <url-pattern>/tempt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
</web-app>
